body {
  background-color: #f3f3f3b6;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
#navbar {
    height:45px;
  
    padding-left: 100px;
    background-color:rgb(255, 255, 255);
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
   
    color: #000000;
}
#navbar img {
    height:30px;
   
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    
margin-left:0px;
align-content: center;
 }
 .logo1{
    text-decoration: none;
    color: #ffffff;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 0px;
 }
 .logo2{
    text-decoration: none;
    color: #fdf105;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 0px;
    font-family:"fira code";

 }
 #searchbar {
    width: 250px; 
    height: 25px;
    flex: 1;
    padding: 5px;
    border: none;
    border-color: #ffffff;
   /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;*/
    background-color: #f3f3f3;
    font-size: 16px;
}

.profile-size{
    margin-left: 10px;
   height:24px;
   width: 24px;
}

.search{
  color: rgb(255, 255, 255);
    background-color: #f3f3f3;
    height:35px;
    width:40px;
    display: flex;
    justify-content: center;
   /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    align-items: center;
}
   

.span{
  height: 30px;
  width: 82px;

  background-color: #ffffff;
  color:rgb(0, 119, 255);
  font-weight: 300px;
    margin-top:4px;
    margin-left: 30px;
    margin-right: 0px;
    display: flex;
  justify-content: center;
  align-items: center;
}
.drop{

    margin-top: 10px;
    margin-left: 10px;
    color:blue;
}
.cart{
  
    margin-top: 10px;
    margin-left: 50px;
    color:rgb(255, 255, 255);

}
.span1{
    text-decoration: none;
     margin-top:16px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.shop{
   
    margin-top:16px;
    margin-left: 50px;
    display: flex;
     align-items: center;
     color:rgb(0, 119, 255);
}
.shop1{
  height: 30px;
 margin-right: 60px;
  color:white;
  font-weight: 300px;
    margin-top:10px;
    
    

}
.dot{
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 15px;
}
.cart1{
  height: 30px;
  width: 82px;
  color:rgb(255, 255, 255);
  font-weight: 300px;
    margin-top:4px;
    margin-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.h2{
  
  height: 40px;
  background-color: rgb(255, 255, 255);
  display: flex;
 align-items: center;
 justify-content: space-evenly;
}
.h21{
  margin-left: 40px;
}

a{
  text-decoration: none;
  margin: 7px;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
}
.h1{
  margin-left: 10px;
  font-size: 18px;
}
.p{
  color: #5b6063b5;
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
letter-spacing: 0px;
}
.pic{
  height: 350px;
  width: 1515px;
  background-image: url("https://rukminim2.flixcart.com/fk-p-flap/2000/2000/image/fd41023188f71936.jpg?q=50");
  background-size: cover;
  margin: 10px;
}
.pic2 {
  height: 280px;
  width:1515px;
  background-image: url("https://rukminim2.flixcart.com/fk-p-flap/844/140/image/07a5b6e8f238a52d.jpg?q=50");
  background-size: cover;
  margin: 10px;
}
.pic3{
  height: 280px;
  width:1515px;
  background-image: url("https://rukminim2.flixcart.com/fk-p-flap/844/140/image/f8f737b16e2cfce2.jpg?q=50");
  background-size: cover;
  margin: 10px;

}
.c{
  font-size: 40px;
  color: orange;
}