body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, rgba(36, 198, 220, 1) 0%, rgba(81, 74, 157, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-box p a {
    color: #ff4b2b;
    text-decoration: none;
}

.login-box p a:hover {
    text-decoration: underline;
}


.container {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 40px;
    text-align: center;
}

.signup-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.signup-container p {
    margin-bottom: 30px;
    color: #666;
}

.signup-container input {
    background: #f0f0f0;
    border: none;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-container input:focus {
    outline: none;
    border: 2px solid #ff4b2b;
}

.signup-container button {
    border-radius: 5px;
    border: none;
    background:  #ff4b2b;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
}

.signup-container button:hover {
    background:  #ff4b2b;
}

.signup-container button:focus {
    outline: none;
}
